<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  Під час даної практичної роботи був проведений аналіз літератури щодо інструментів біометричної автентифікації по розпізнаванню обличчя , інстальоване необхідне ПЗ і розроблено програмне забезпечення у вигляді Web-додатку . В основі розробки використовується бібліотека <a href="http://openbiometrics.org/doxygen/latest/installation.html">OpenBR</a>  для розпізнавання  обличчя, яка була ініціалізована і протестована успішно . Наступним етапом було створення створення web додатку за допомогою Ruby on Rails , в якому був використаний гем <a href="http://headshot.hypermediasoft.com/">Headshot</a> , для створення фотографій через web інтерфейс . 
</p>