<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>      
        <%= image_tag @user.avatar.url %>
        <%= image_tag @headshot_photo_patch %>
        <%= @auth  %>
      </h1>
    </section>
  </aside>
</div>